<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>SolucionesCN</title>
</head>
<body>
    <header>

        <nav class="sticky">
             <a href="#home"><img src="img/logo.png" alt=""></a>
            <a href="#home">Home</a>
            <a href="#servicios">Servicios</a>
            <a href="#historiasDeExito">Historias de Exito</a>
            <a href="#contacto">Contacto</a>
        </nav>
        <section id="home" class="header">
            <h2>Sistemas, Comunicaciones y Negocios</h2>
            <p>
                Brindamos a nuestros clientes las soluciones más completas, utilizando la mejor tecnología disponible. Las mismas se basan en el previo análisis del negocio con el afán de reducir costos y  maximizar márgenes, evaluando procesos y optimizando procedimientos
           </p>
        </section>
    </header>
    <main>
        <div class="secciones">
            <h2 id="servicios">SERVICIOS</h2>
        </div>
        <section class="sct-servicios">
            <article id="sf" class="servicios">
                <img src="img/Services/software-factory.jpg" alt="">
                <h4>SOFTWARE FACTORY</h4>
                <p>Desarrollamos soluciones de software a medida utilizando metodologías ágiles
                     y filosofía DevOps. Entre los principales servicios, se incluyen desarrollos nuevos, 
                     mantenimiento evolutivo, mantenimiento adaptativo, a
                    sí como también corrección de módulos específicos. Estamos en condiciones de abarcar 
                    la totalidad del ciclo de desarrollo de software o algunas de las etapas</p>
            </article>
            <article id="is" class="servicios">
                <img src="/img/Services/Infrastructure-services.jpg" alt="">
                <h4>INFRAESTRUCTURA IT</h4>
                <p>Diseñamos infraestructuras de servidores convergentes e hiperconvergentes con la flexibilidad 
                    de requerimientos que necesites, ya sean para sistemas de servicios on-premises o cloud. Armado 
                    de centros de cómputos desde el desglose de requerimientos de recursos computacionales y de almacenamiento 
                    según carga de trabajo dispuesto a utiliza</p>
            </article>
            <article id="comms" class="servicios">
                <img src="/img/Services/comms.jpg" alt="">
                <h4>COMUNICACIONES</h4>
                <p>La diversidad de servicios implementados para cubrir diferentes necesidades requiere de infraestructuras 
                    de comunicaciones no solo eficientes, sólidas y seguras. Nuestro mayor diferencial deriva en la c
                    apacidad con que diseñamos redes de datos, comunicando sus sitios y sucursales remotas cómo si estuviesen 
                    en el mismo lugar en el que usted se encuenta</p>
            </article>
            <article id="cloud" class="servicios">
                <img src="/img/Services/cloud.jpg" alt="">
                <h4>CLOUD COMPUTING</h4>
                <p>Permita que el costo operativo de su negocio crezca o disminuya dinámicamente en función del uso requerido por
                     él mismo. Despliegue aplicaciones en una nube privada, pública o híbrida bajo tecnologías como Docker y Kubernetes,
                      minimizando las necesidades del despliegue de infraestructuras ociosas, trabajando con la infraestructura como código</p>
            </article>
            <article id="te" class="servicios">
                <img src="/img/Services/telephone-exchange.jpg" alt="">
                <h4>CENTRALES TELEFONICAS</h4>
                <p>Brindamos un amplio abanico de posibilidades para centrales telefónicas y para la implementación de soluciones basadas 
                    en sistemas de comunicaciones, interconexión de PBX por protocolos tanto digitales como analógicos. Ampliación de centrales 
                    telefónicas antiguas a sistemas VOIP. Servicio de Central virtual en la nube (cloud). Desarrollo de sistemas sobre plataformas VOIP</p>
            </article>
        </section>
        <div class="secciones">
            <h2 id="historiasDeExito">HISTORIAS DE ÉXITOS</h2>
        </div>
        <section>

        </section>
        <div class="secciones">
            <h2 id="nuestroClientes">NUESTROS CLIENTES</h2>
        </div>
        <section>

        </section>
        <div class="secciones">
            <h2 id="nuestrosPartners">NUESTROS PARTNERS</h2>
        </div>
        <section>

        </section>
        <div class="secciones">
            <h2 id="contacto">CONTÁCTENOS</h2>
        </div>
        <section>

        </section>
    </main>
</body>
</html>